@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair+Display+SC:wght@700&display=swap');
body{
    margin: 0px;
}
.borde_header{
    background-color: black;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
.llamanos{
    display: inline-flex;
    margin-top: 10px;
}
.bi-telephone-fill{
    margin: 14px;
}
.dropdown{
    list-style-type: none;
}
.nav-link.dropdown-toggle{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
}
.borde_end{
    display: flex;
}
.bi-facebook{
    margin-top: 15px;
}
.bi-twitter{
    margin-top: 15px;
    margin-left: 12px;
}
.bi-instagram{
    margin-top: 15px;
    margin-left: 12px;
}
.header{
    background-color: whitesmoke;
    color: black;
    border-bottom: 1px rgb(161, 161, 161) solid;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}
.titulo{
    font-family:'Playfair Display SC', serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.py-5{
    color: white;
    background-color: black;
}
.text-muted{
    color: white !important;
}
.col-6{
    margin-left: 30px;
}
.col-md-5{
    margin-left: 10px;
}
.texto-footer{
    margin-top: 20px;
    text-align: center;
}
main{
    height: 3500px;
}
.btn-primary {
    --bs-btn-color: #212529;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: black;
 }
 .d-block{
    width: 100%;
 }
 .row{
    margin-right: 0px;
 }
 .container{
    margin-top: 10%;
 }
 .card-btn{
    background-color: whitesmoke;
    border: 1px black solid;
 }
 .card-btn:hover{
    background-color: rgb(149, 149, 149);
    color: black;
 }
 .col{
    margin-top: 30px;
 }
section{
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/14/29/living-room-1853203_1280.jpg);
    background-size: cover;
    margin-top: 100px;
    padding-bottom: 200px;
}
.sectionh1{
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}
.button_section{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    margin-left: 45%;
}
.button_section:hover{
    text-decoration: underline;
}
.fotobtn{
    display: block;
    padding-bottom: 200px;
}
